.gifts {
  &:hover {
    .wanted-gift {
      transition: all 0.3s ease;
      transform: scale(1.1);
    }
    .unwanted-gift {
      transition: all 0.3s ease;
      transform: scale(0.5);
    }
  }
}

.unwanted-gift {
  transition: all 0.3s ease;
}

.wanted-gift {
  transition: all 0.3s ease;
  position: relative;
  overflow: visible !important;
}
